<h1>New relate_musicbrainz</h1>

<% form_for(@relate_musicbrainz) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :altent_id %><br />
    <%= f.text_field :altent_id %>
  </p>
  <p>
    <%= f.label :similar_id %><br />
    <%= f.text_field :similar_id %>
  </p>
  <p>
    <%= f.label :postion %><br />
    <%= f.text_field :postion %>
  </p>
  <p>
    <%= f.label :score %><br />
    <%= f.text_field :score %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', relate_musicbrainzs_path %>