<p>
  <b>Altnet:</b>
  <%=h @p_stat.altnet_id %>
</p>

<p>
  <b>Mz:</b>
  <%=h @p_stat.mz %>
</p>

<p>
  <b>Lastfm:</b>
  <%=h @p_stat.lastfm %>
</p>

<p>
  <b>Echonest:</b>
  <%=h @p_stat.echonest %>
</p>

<p>
  <b>Yahoomusic:</b>
  <%=h @p_stat.yahoomusic %>
</p>

<p>
  <b>Mtv:</b>
  <%=h @p_stat.mtv %>
</p>


<%= link_to 'Edit', edit_p_stat_path(@p_stat) %> |
<%= link_to 'Back', p_stats_path %>